<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="">
        <%= render partial: "shared/user_profile", locals: {user: @user} %>
      </div>  
        <p>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>  
        </p>
      
      
      
    </div>

    <div class="col-md-8">
      <% @likes.each do |like_tweet| %>
        <div class="row">
          <div class="col-md-3">
            <%= link_to tweets_user_path(like_tweet.user) do %>
              <%=image_tag like_tweet.user.avatar, class:"img-responsive" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <ul>
                <li><h5><%= link_to like_tweet.user.name, tweets_user_path(like_tweet.user) %>, <%= like_tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h5></li>
                <li><%= like_tweet.description %></li>
                <h4>
                  <%= link_to tweet_replies_path(like_tweet) do %>
                      Reply(<%=like_tweet.replies.size%>)
                    <%end%>
                    <% if like_tweet.is_liked?(current_user) %>
                      <%= link_to unlike_tweet_path(like_tweet), method: :post ,class:"like_link" do %>
                        Unlike (<%=like_tweet.likes.size%>)
                      <%end%>
                    <% else %>
                      <%= link_to like_tweet_path(like_tweet), method: :post,class:"like_link" do %>
                        Like (<%=like_tweet.likes.size%>) 
                      <%end%>
                    <%end%>     
                </h4>
              </ul>
          </div>
        </div>
        <hr>
      <% end %>
    </div>

      
  </div>
</div>