<div class="comtainer">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">

      <ul class="nav nav-tabs">
        <li role="presentation" class=<%= "active" if current_page? admin_tweets_path %>>
          <%= link_to "Tweets", admin_tweets_path %>
        </li>
        <li role="presentation" class=<%= "active" if current_page? admin_users_path %>>
          <%= link_to "Users", admin_users_path %>
        </li>
      </ul>

      <hr>

        
      <% @users.each do |user|%>
        <div class="row">
          <div class="col-md-3">
            <%= image_tag user.avatar, class:"img-responsive" if user.avatar? %>
          </div>
          <div class="col-md-8">
            <h4><%= link_to user.name, tweets_user_path(user)%></h4>
            <ul>
              <li>email: <%= user.email %></li>
              <li>Tweets: <%= user.tweets.size%></li>
              <li>Following: <%= user.followings.size%></li>
              <li>Followers: <%= user.followers.size%></li>
              <li>liked: <%= user.tweets.sum(:likes_count)%></li>
            </ul>
          </div>
        </div>
            <hr>
      <% end %>

    </div>
  </div>
</div>